# ptune.rc by JoshuaDoes for use with Pixel Tune
# Careful with your changes!
#
# Current template:
#    task_profiles ProcessCapacityMax MaxPerformance
#    ioprio rt 4
#    rlimit rtprio 10 10
#    rlimit memlock unlimited unlimited
#    priority -20
#    writepid /dev/cpuset/system/tasks

### INIT STAGES ###

on early-init
    # Initialize our system cpuset
    mkdir /dev/cpuset/system
    chown system system /dev/cpuset/system/tasks
    chmod 0664 /dev/cpuset/system/tasks
    write /dev/cpuset/system/cpus 0-7
    write /dev/cpuset/system/mems 0

### Specific to Android 16 (BD3A.250721.001.E1) ###

service zygote /system/bin/app_process64 -Xzygote /system/bin --zygote --start-system-server --socket-name=zygote
    class main
    user root
    group root readproc reserved_disk
    socket zygote stream 660 root system
    socket usap_pool_primary stream 660 root system
    onrestart exec_background - system system -- /system/bin/vdc volume abort_fuse
    onrestart write /sys/power/state on
    # NOTE: If the wakelock name here is changed, then also
    # update it in SystemSuspend.cpp
    onrestart write /sys/power/wake_lock zygote_kwl
    onrestart restart audioserver
    onrestart restart cameraserver
    onrestart restart media
    onrestart restart --only-if-running media.tuner
    onrestart restart netd
    onrestart restart wificond
    critical window=${zygote.critical_window.minute:-off} target=zygote-fatal
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service zygote_secondary /system/bin/app_process32 -Xzygote /system/bin --zygote --socket-name=zygote_secondary --enable-lazy-preload
    class main
    user root
    group root readproc reserved_disk
    socket zygote_secondary stream 660 root system
    socket usap_pool_secondary stream 660 root system
    onrestart restart zygote
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service servicemanager /system/bin/servicemanager
    class core animation
    user system
    group system readproc
    critical
    file /dev/kmsg w
    onrestart setprop servicemanager.ready false
    onrestart restart --only-if-running apexd
    onrestart restart audioserver
    onrestart restart gatekeeperd
    onrestart class_restart --only-enabled main
    onrestart class_restart --only-enabled hal
    onrestart class_restart --only-enabled early_hal
    shutdown critical
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service audioserver /system/bin/audioserver
    class core
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc media mediadrm net_bt net_bt_admin net_bw_acct wakelock
    capabilities BLOCK_SUSPEND
    # match rtprio cur / max with sensor service as we handle AR/VR HID sensor data.
    onrestart restart vendor.audio-hal
    onrestart restart vendor.audio-hal-aidl
    onrestart restart vendor.audio-effect-hal-aidl
    onrestart restart vendor.audio-hal-4-0-msd
    onrestart restart audio_proxy_service
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service cameraserver /system/bin/cameraserver
    class main
    user cameraserver
    group audio camera input drmrpc
    capabilities SYS_NICE
    onrestart class_restart cameraWatchdog
    interface aidl android.frameworks.cameraservice.service.ICameraService/default
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service virtual_camera /system/bin/virtual_camera
    class core
    user system
    group system
    capabilities SYS_NICE
    interface aidl virtual_camera
    interface aidl android.hardware.camera.provider.ICameraProvider/virtual/0
    oneshot
    disabled
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service usbd /system/bin/usbd
    class late_start
    oneshot
    user root
    group root usb system
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service mediaextractor /system/bin/mediaextractor
    class main
    user mediaex
    group drmrpc mediadrm
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service mediametrics /system/bin/mediametrics
    class main
    user media
    group media
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service media /system/bin/mediaserver
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service surfaceflinger /system/bin/surfaceflinger
    class core animation
    user system
    group graphics drmrpc readproc
    capabilities SYS_NICE
    onrestart restart --only-if-running zygote
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service installd /system/bin/installd
    class main
    user root
    capabilities CHOWN DAC_OVERRIDE DAC_READ_SEARCH FOWNER FSETID KILL SETGID SETUID SYS_ADMIN
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service apexd /system/bin/apexd
    interface aidl apexservice
    class core
    user root
    group system
    oneshot
    disabled # does not start with the core class
    reboot_on_failure reboot,apexd-failed
    # CAP_CHOWN, CAP_DAC_OVERRIDE, CAP_DAC_READ_SEARCH required for apexdata snapshot & restore
    # CAP_SYS_ADMIN is required to access device-mapper and to use mount syscall
    capabilities CHOWN DAC_OVERRIDE DAC_READ_SEARCH FOWNER SYS_ADMIN
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service apexd-bootstrap /system/bin/apexd --bootstrap
    user root
    group system
    oneshot
    disabled
    reboot_on_failure reboot,bootloader,bootstrap-apexd-failed
    # CAP_SYS_ADMIN is required to access device-mapper and to use mount syscall
    # apexd-bootstrap doesn't manage apexdata snapshot & restore, hence no need for other capabilities.
    capabilities SYS_ADMIN
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service apexd-snapshotde /system/bin/apexd --snapshotde
    user root
    group system
    oneshot
    disabled
    # CAP_CHOWN, CAP_DAC_OVERRIDE, CAP_DAC_READ_SEARCH required for apexdata snapshot & restore
    # apexd-snapshotde doesn't mount APEXes, hence no need for SYS_ADMIN capability
    capabilities CHOWN DAC_OVERRIDE DAC_READ_SEARCH FOWNER
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service update_engine /system/bin/update_engine --logtostderr --logtofile --foreground
    class late_start
    user root
    group root system wakelock inet cache media_rw
    disabled
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service update_verifier /system/bin/update_verifier
    user root
    group cache system
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service gatekeeperd /system/bin/gatekeeperd /data/misc/gatekeeper
    class late_start
    user system
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service keystore2 /system/bin/keystore2 /data/misc/keystore
    class early_hal
    user keystore
    group keystore readproc log
    # The default memlock limit of 65536 bytes is too low for keystore.
    # Reboot to bootloader if Keystore crashes more than 4 times before `sys.boot_completed`.
    critical window=0
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service credstore /system/bin/credstore /data/misc/credstore
    class core
    user credstore
    group credstore
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

### Specific to Pixel 10 ###

service vendor.power-hal-aidl /vendor/bin/hw/android.hardware.power-service.pixel-libperfmgr
    class hal
    user root
    group system
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service aocd /vendor/bin/aocd
    class late_start
    user root
    group root system audio
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service aocxd /vendor/bin/aocxd
    class late_start
    user root
    group root system audio
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service vendor.audio-hal-aidl /vendor/bin/hw/android.hardware.audio.service-aidl.aoc
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct wakelock context_hub system
    capabilities BLOCK_SUSPEND SYS_NICE
    # setting RLIMIT_RTPRIO allows binder RT priority inheritance
    onrestart restart audioserver
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service twoshay /vendor/bin/twoshay -s
    class hal
    user root
    group input
    disabled
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service com.google.input.gia.giacore /vendor/bin/gia -s
    interface aidl com.google.input.gia.core.IGiaService/default
    class hal
    user root
    group input
    oneshot
    disabled
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service qfp-daemon /vendor/bin/hw/qfp-daemon
    interface aidl android.hardware.biometrics.fingerprint.IFingerprint/default
    interface aidl vendor.qti.hardware.fingerprint.IQfpExtendedFingerprint/default
    interface aidl com.google.hardware.biometrics.fingerprint.debug.IFingerprintDebug/default
    class late_start
    user system
    disabled
    group system drmrpc input wakelock
    capabilities BLOCK_SUSPEND WAKE_ALARM
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service vendor.citadeld /vendor/bin/hw/citadeld
    class early_hal
    user hsm
    group hsm
    disabled
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service edgetpu_tachyon_service /vendor/bin/hw/com.google.edgetpu.tachyon-service
    interface aidl com.google.edgetpu.tachyon.IComputeService/default
    oneshot
    disabled
    class hal
    user system
    group system
    capabilities SYS_NICE
    capabilities IPC_LOCK
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service vendor.graphics.allocator-default /vendor/bin/hw/android.hardware.graphics.allocator-V2-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service pixel.graphics.allocator-aidl /vendor/bin/hw/pixel.gralloc.allocator-V2-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service vendor.hwcomposer-3 /vendor/bin/hw/android.hardware.composer.drm-hwc3-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service vendor.camera-provider-2-7-google /apex/com.google.pixel.camera.hal/bin/hw/android.hardware.camera.provider@2.7-service-google
    class hal cameraWatchdog
    user system
    group system
    namespace mnt
    capabilities SYS_NICE
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service vendor.google.radioext@1.0 /vendor/bin/hw/vendor.google.radioext@1.0-service
    class hal
    user radio
    group radio system
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service ril-daemon /vendor/bin/hw/rild_exynos
    class main
    user radio
    group radio cache inet misc audio log readproc wakelock
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
    seclabel u:r:rild:s0
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service cpboot-daemon /vendor/bin/cbd -d -t ${ro.vendor.cbd.modem_type} -P by-name/${vendor.cbd.partition} -s 2
    class main
    # FEATURE_CBD_GOOGLE
    # Change to radio user
    user radio
    group radio system cache inet misc audio sdcard_rw log
    # FEATURE_CBD_GOOGLE
    # Add capabilities
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW SYSLOG
    seclabel u:r:cbd:s0
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

service wpa_supplicant /vendor/bin/hw/wpa_supplicant \
    -O/data/vendor/wifi/wpa/sockets -dd \
    -g@android:wpa_wlan0
    interface aidl android.hardware.wifi.supplicant.ISupplicant/default
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    user wifi
    group wifi net_raw net_admin
    capabilities NET_RAW NET_ADMIN
    disabled
    oneshot
    task_profiles ProcessCapacityMax MaxPerformance
    ioprio rt 4
    rlimit rtprio 10 10
    rlimit memlock unlimited unlimited
    priority -20
    writepid /dev/cpuset/system/tasks

